@media (width <=481px) {
    .trash {
        width: 25px;
        height: 20px;
        cursor: pointer;
    }

    .trash:hover {
        transform: scale(1.3);
    }

    .book_cover:hover {
        transform: scale(1.3);
    }

    .images {
        height: 145px;
        margin-top: 30px;
        width: 120px;
    }

    .book {
        width: 85px;
        display: flex;
        flex-direction: column;
        gap: 3px;
        margin-top: 10px;
    }

    .book_bottom {
        display: flex;
        flex-direction: row;
        gap: 50px;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
    }

    .nav {
        display: flex;
        align-items: center;
        margin: 0 auto;
        justify-content: center;
        padding: 20px;
        color: #ffffff;
    }

    .background {
        background-image: url(https://img.freepik.com/free-photo/books-shelf_53876-138567.jpg?w=900&t=st=1695432688~exp=1695433288~hmac=a2f4117ea98e25017d3cd7d24e1400c3b80dacc387c71317dfe5e063097277c3);
        margin-top: 60px;
        font-family: 'Antic Slab', serif;
        background-position: center;
        width: 100vw;
        height: 100vh;
        background-size: cover;
        overflow: hidden;
    }

    .dashboard {
        display: flex;
        margin: 0 auto;
        justify-content: center;
        gap: 20px;
        margin-top: 10px;
        height: 91vh;
        flex-direction: column;
    }

    .books_right {
        display: flex;
        flex-direction: column;
        width: 95%;
        height: 50%;
        flex: 1;
        background-color: rgba(255, 255, 255, 0.815);
        border-radius: 20px;
        font-weight: bold;
        margin-bottom: 10px;
        margin-right: 15px;
        margin-left: 20px;
    }

    .books_right1 {
        display: flex;
        justify-content: flex-start;
        padding-left: 40px;
        flex-wrap: wrap;
        overflow: scroll;
        width: 100%;
        height: 95%;
        overflow-x: hidden;
    }

    .books_right1::-webkit-scrollbar {
        display: none;
    }

    .mybooks {
        margin-top: 20px;
        font-size: 15px;
        font-weight: bold;
    }

    .books_left {
        width: 95%;
        height: 50%;
        flex: 1 1;
        display: flex;
        background-color: rgba(255, 255, 255, 0.815);
        border-radius: 20px;
        font-weight: bold;
        margin-left: 20px;
        margin-top: 15px;
        flex-direction: column;
        overflow: scroll;
        overflow-x: clip;
        padding: 15px;
    }

    .books_left::-webkit-scrollbar {
        height: 200px;
        width: 5px;
    }

    .books_right::-webkit-scrollbar {
        height: 200px;
    }

    .book_single {
        display: flex;
        flex-direction: column;
        margin-right: 40px;
        margin-bottom: 20px;
        align-items: center;
    }

    .logo {
        width: 28px;
        margin-right: 10px;
    }

    .nav_top {
        position: fixed;
        margin-bottom: 20px;
        overflow: hidden;
        width: 100%;
        top: 0;
        height: 60px;
    }

    .nav_top a:hover {
        border-bottom: 2px solid #6d5139;
        cursor: pointer;
    }

    .button_nav {
        font-weight: 10px;
        background-color: #6d5139;
        color: white;
        padding: 6px;
        border-radius: 5px;
        cursor: pointer;
    }

    .navlinks {
        display: flex;
        justify-content: center;
    }

    .book_result {
        display: flex;
        flex-direction: row;
    }

    .card1 {
        display: flex;
        flex-direction: column;
        width: 200px;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
        margin-left: 25px;
    }

    .card img {
        height: auto;
        width: 150px;
        margin-top: 30px;
        max-width: 100%;
    }

    .left_search {
        display: flex;
        flex-direction: row;

    }

    .top_search {
        margin-bottom: 20px;
        display: flex;
        gap: 10px;
        justify-content: center;
        font-weight: bold;
        align-items: center;
    }

    .top_search input {
        float: right;
        padding: 6px;
        border: 1px solid black;
        border-radius: 15px;
        margin-right: 10px;
        font-size: 12px;
        background-color: #e4e2e281;
    }

    .top_search label {
        font-size: 20px;
        margin-right: 10px;
    }

    .book_buttons img {
        width: 17px;
        margin-left: 10px;
        content: '';
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -o-border-radius: 50%;
        border-radius: 50%;
    }
}

@media (482px <=width <=1023px) {
    .trash {
        width: 25px;
        height: 20px;
        cursor: pointer;
    }

    .trash:hover {
        transform: scale(1.3);
    }

    .book_cover:hover {
        transform: scale(1.3);
    }

    .images {
        height: 230px;
        margin-top: 30px;
        width: 160px;
    }

    .book {
        width: 180px;
        display: flex;
        flex-direction: column;
        gap: 3px;
        margin-top: 10px;
    }

    .book_bottom {
        display: flex;
        flex-direction: row;
        gap: 50px;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
    }

    .nav {
        display: flex;
        align-items: center;
        margin: 0 auto;
        justify-content: center;
        padding: 20px;
        color: #ffffff;
    }

    .background {
        background-image: url(https://img.freepik.com/free-photo/books-shelf_53876-138567.jpg?w=900&t=st=1695432688~exp=1695433288~hmac=a2f4117ea98e25017d3cd7d24e1400c3b80dacc387c71317dfe5e063097277c3);
        margin-top: 60px;
        font-family: 'Antic Slab', serif;
        background-position: center;
        width: 100vw;
        height: 100vh;
        background-size: cover;
        overflow: hidden;
    }

    .dashboard {
        display: flex;
        margin: 0 auto;
        justify-content: center;
        gap: 20px;
        margin-top: 10px;
        height: 91vh;
        flex-direction: column;
    }

    .books_right {
        display: flex;
        flex-direction: column;
        width: 95%;
        height: 50%;
        flex: 1;
        background-color: rgba(255, 255, 255, 0.815);
        border-radius: 20px;
        font-weight: bold;
        margin-right: 15px;
        margin-left: 20px;
    }

    .books_right1 {
        display: flex;
        justify-content: flex-start;
        padding-left: 60px;
        flex-wrap: wrap;
        overflow: scroll;
        width: 100%;
        height: 95%;
        overflow-x: hidden;
    }

    .books_right1::-webkit-scrollbar {
        display: none;
    }

    .mybooks {
        margin-top: 20px;
        font-size: 15px;
        font-weight: bold;
    }

    .books_left {
        width: 95%;
        height: 50%;
        flex: 1 1;
        display: flex;
        background-color: rgba(255, 255, 255, 0.815);
        border-radius: 20px;
        font-weight: bold;
        margin-left: 20px;
        margin-top: 15px;
        flex-direction: column;
        overflow: scroll;
        overflow-x: clip;
    }

    .books_left::-webkit-scrollbar {
        height: 200px;
        width: 5px;
    }

    .books_right::-webkit-scrollbar {
        height: 200px;
    }

    .book_single {
        display: flex;
        flex-direction: column;
        margin-right: 40px;
        margin-bottom: 20px;
        align-items: center;
    }

    .logo {
        width: 28px;
        margin-right: 10px;
    }

    .nav_top {
        position: fixed;
        margin-bottom: 20px;
        overflow: hidden;
        width: 100%;
        top: 0;
        height: 60px;
    }

    .nav_top a:hover {
        border-bottom: 2px solid #6d5139;
        cursor: pointer;
    }

    .button_nav {
        font-weight: 10px;
        background-color: #6d5139;
        color: white;
        padding: 6px;
        border-radius: 5px;
        cursor: pointer;
    }

    .navlinks {
        display: flex;
        justify-content: center;
    }

    .book_result {
        display: flex;
        flex-direction: row;
    }

    .card1 {
        display: flex;
        flex-direction: column;
        width: 200px;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
        margin-left: 25px;
    }

    .card img {
        height: auto;
        width: 150px;
        margin-top: 30px;
        max-width: 100%;
    }

    .left_search {
        display: flex;
        flex-direction: row;

    }

    .top_search {
        margin-bottom: 20px;
        display: flex;
        gap: 10px;
        justify-content: center;
        margin-top: 20px;
        font-weight: bold;
        align-items: center;
    }

    .top_search input {
        float: right;
        padding: 6px;
        border: 1px solid black;
        border-radius: 15px;
        margin-right: 16px;
        font-size: 17px;
        background-color: #e4e2e281;
    }

    .top_search label {
        font-size: 20px;
        margin-right: 10px;
    }

    .book_buttons img {
        width: 17px;
        margin-left: 10px;
        content: '';
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -o-border-radius: 50%;
        border-radius: 50%;
    }
}

@media (1023px <=width) {
    .trash {
        width: 25px;
        height: 20px;
        cursor: pointer;
    }

    .trash:hover {
        transform: scale(1.3);
    }

    .book_cover:hover {
        transform: scale(1.3);
    }

    .images {
        margin-top: 10px;
        width: 150px;
        height: 195px;
    }

    .rights {
        display: flex;
        flex-direction: column;
    }

    .book {
        width: 180px;
        display: flex;
        flex-direction: column;
        gap: 3px;
        margin-top: 10px;
    }

    .book_bottom {
        display: flex;
        flex-direction: row;
        gap: 50px;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
    }

    .nav {
        display: flex;
        align-items: center;
        margin: 0 auto;
        justify-content: center;
        padding: 20px;
        color: #ffffff;
    }

    .background {
        background-image: url("../components/background2.jpg");
        margin-top: 60px;
        font-family: 'Antic Slab', serif;
        background-position: center;
        width: 100%;
        height: 100%;
        background-size: cover;
        overflow: hidden;
    }

    .dashboard {
        display: flex;
        margin: 0 auto;
        justify-content: center;
        gap: 20px;
        margin-top: 10px;
        height: 91vh;
    }

    .dashboard::-webkit-scrollbar {
        display: none;
        height: 200px;
        width: 5px;
    }

    .books_right {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 95%;
        flex: 1 1;
        background-color: rgba(255, 255, 255, 0.815);
        border-radius: 20px;
        font-weight: bold;
        margin-top: 15px;
        margin-bottom: 25px;
        margin-right: 20px;
    }

    .books_right1 {
        display: flex;
        justify-content: flex-start;
        padding-left: 60px;
        flex-wrap: wrap;
        overflow: scroll;
        width: 100%;
        height: 95%;
        overflow-x: hidden;
    }

    .books_right1::-webkit-scrollbar {
        display: none;
    }

    .left_search::-webkit-scrollbar {
        display: none;
    }

    .mybooks {
        margin-top: 20px;
        font-size: 15px;
        font-weight: bold;
        margin-bottom: 15px;
    }

    .books_left {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 95%;
        flex: 1 1;
        background-color: rgba(255, 255, 255, 0.815);
        border-radius: 20px;
        font-weight: bold;
        margin-top: 15px;
        margin-bottom: 25px;
        margin-right: 10px;
        margin-left: 20px;
    }

    .books_left::-webkit-scrollbar {
        height: 200px;
        width: 5px;
    }

    .books_right::-webkit-scrollbar {
        height: 200px;
    }

    .book_single {
        display: flex;
        flex-direction: column;
        margin-right: 40px;
        margin-bottom: 20px;
        align-items: center;
    }

    .logo {
        width: 28px;
        margin-right: 10px;
    }

    .nav_top {
        position: fixed;
        margin-bottom: 20px;
        overflow: hidden;
        width: 100%;
        top: 0;
        height: 60px;
    }

    .nav_top a:hover {
        border-bottom: 2px solid #6d5139;
        cursor: pointer;
    }

    .button_nav {
        font-weight: 10px;
        background-color: #6d5139;
        color: white;
        padding: 6px;
        border-radius: 5px;
        cursor: pointer;
    }

    .navlinks {
        display: flex;
        justify-content: center;
    }

    .book_result {
        display: flex;
        flex-direction: row;
    }

    .card1 {
        display: flex;
        flex-direction: column;
        width: 200px;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
        margin-left: 25px;
    }

    .card img {
        height: auto;
        width: 150px;
        margin-top: 30px;
        max-width: 100%;
    }

    .left_search {
        display: flex;
        flex-direction: row;
        display: flex;
        justify-content: flex-start;
        padding-left: 10px;
        flex-wrap: wrap;
        overflow: scroll;
        width: 100%;
        height: 95%;
        overflow-x: hidden;
    }

    .top_search {
        margin-bottom: 20px;
        display: flex;
        gap: 10px;
        justify-content: center;
        margin-top: 20px;
        font-weight: bold;
        align-items: center;
    }

    .top_search input {
        float: right;
        padding: 6px;
        border: 1px solid black;
        border-radius: 15px;
        margin-right: 16px;
        font-size: 17px;
        background-color: #e4e2e281;
    }

    .top_search label {
        font-size: 20px;
        margin-right: 10px;
    }

    .book_buttons img {
        width: 17px;
        margin-left: 10px;
        content: '';
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -o-border-radius: 50%;
        border-radius: 50%;
    }
}